body
{
	font-family: 'Lato', sans-serif;
	background-color: #565B66;
	color: #343944;
}

#pudelko
{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

#prostokat
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	letter-spacing: 4px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #FFFFFF;
}

#logo
{
	float: left;
	padding: 10px;
	width: 48%;
}

#zegar
{
	float: left;
	padding: 10px;
	width: 48%;
	text-align:  center;
}

.kwadrat
{
	float: left;
	width: 50%;
}

.elementylewa
{
	float: left;
	width: 240px;
	background-color: #FFFFFF;
	height: 130px;
	margin: 10px;
	padding: 20px;
	text-align: center;
}

#zlinkiem
{
	float: left;
	width: 240px;
	background-color: #FFFFFF;
	height: 130px;
	margin: 10px;
	padding: 20px;
}

#jbcpis
{
	font-family: 'Fjalla One', sans-serif;
	width: 540px;
	background-color: #FFFFFF;
	height: 100px;
	margin: 10px;
	padding: 20px;
	padding-top: 50px;
	text-align: center;
	font-weight: 900;
	font-size: 50px;
	line-height: 100%;
	letter-spacing: 10px;
}

#glowny
{
	width: 540px;
	background-color: #F6A8AE;
	height: 320px;
	margin: 10px;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}

#yt
{
	float: left;
	height: 130px;
	width: 140px;
	margin: 10px;
	padding: 20px;
}

#fb
{
	float: left;
	height: 130px;
	width: 140px;
	margin: 10px;
	padding: 20px;
}

#baran
{
	float: left;
	background-color: #FFFFFF;
	height: 115px;
	width: 140px;
	margin: 10px;
	padding: 20px;
	padding-top: 35px;
}

a.zlinkiem
{
	color: #343944;
	text-decoration: none;
}

#randomlink2
{
	background-color: #F6A8AE;
}

#randomlink2:hover
{
	background-color: #E5979D;
}

#kejzi
{
	background-color: #EBA3C7;
}

#kejzi:hover
{
	background-color: #DA92B6;
}

#findus
{
	background-color: #F287B6;
}

#findus:hover
{
	background-color: #E176A5;
}

#fb
{
	background-color: #A489BF;
}

#fb:hover
{
	background-color: #9378AD;
}

#yt
{
	background-color: #D07FB3;
}

#yt:hover
{
	background-color: #C06DA2;
}